.chat {
    padding: 2rem;
    background-color: #003466;
}

.chat .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat__card {
    margin: 2rem;
    display: flex;
    justify-content: initial;
    align-items: center;
    width: 90%;
}

.chat__card__form {
    display: flex;
    padding: 0rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 40%;
    height: 100%;
}

.chat__card__form img {
    width: 100%;
}

.chat__card__form a {
    text-decoration: none;
}

.chat__card__socials {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.chat__card__socials svg {
    margin: 1rem;
    width: 30%;
    padding: 1rem;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.chat__card__socials svg#wpp {
    background-color: #CF711F;
}

.chat__card__socials svg#fb {
    background-color: #CF711F;
}

.chat__info {
    padding: 2rem;
    position: relative;
    width: 80%;
}

.chat__info::before {
    content: "";
    position: absolute;
    top: 35%;
    left: 0;
    height: 50%;
    border: 1px solid #ffffff;
}

.chat__info h1 {
    font-family: "DubaiMedium";
    font-size: 2rem;
    color: #ffffff;
}

.chat__info ul {
    margin-left: 2rem;
}

.chat__info ul li {
    font-family: "DubaiLight";
    font-size: 1rem;
    margin-top: 0.5rem;
    color: #ffffff;
}

.chat__info ul li span {
    font-family: "DubaiMedium";
}