header {
    background-color: #001325;
    padding: 1rem;
}

header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav__logo {
    width: 50%;
}

header .nav__logo img {
    width: 50%;
    max-width: 100%;
}

header .nav__menu__desktop ul li {
    list-style: none;
    display: inline-block;
    color: #ffffff;
    font-size: 1rem;
    font-family: "DubaiMedium";
    margin-right: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
}

header .nav__menu__desktop ul li a {
    color: #ffffff;
    text-decoration: none;
}

header .nav__menu__mobile {
    width: 100%;
    background-color: #003466;
    top: 6.5rem;
    position: absolute;
    left: 0;
}

header .nav__menu__mobile__btn {
    display: none;
}

header .nav__menu__mobile__items {
    width: 100%;
}

header .nav__menu__mobile__items ul {
    display: none;
    position: relative;
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

header .nav__menu__mobile__items ul li {
    margin: 15px 10px;
    display: inline-block;
}

header .nav__menu__mobile__items ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: "DubaiMedium";
    text-transform: uppercase;
}