.video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.video .container {
    width: 100%;
}

.video .video__header h1 {
    font-family: "DubaiMedium";
    color: #F88F0E;
    font-size: 3rem;
    text-align: center;
}

.video .video__content video, .video .video__content iframe {
    border: 0;
    width: 100%;
    max-width: 640px;
    height: 360px;
}

.video .video__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.video .video__info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.video .video__info p {
    font-family: "DubaiLight";
    color: #2d2d2d;
    font-size: 1rem;
    text-align: center;
}

.video .video__info p span, .video .video__info p a {
    font-family: "DubaiMedium";
    color: #2d2d2d;
    font-size: 1.2rem;
    text-align: center;
}